body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    text-align: center;
    padding: 2em;
}

img {
    max-width: 100%;
    border-radius: 50%; /* Make the image circular */
}

.description {
    margin-top: 1em;
}

.programming-languages {
    /* Add styling for programming languages badges */
}

.social-links a {
    margin: 0 1em;
    color: white;
    text-decoration: none;
}

.social-links img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
